body{
    background-color: #763333;
    font-size: 16px;
    color: #fff;
    font-family: 'Oxygen', sans-serif;
}

#header-nav{
    border-radius: 0;
    border: 0;
    background-color: #e8ad29;
}
#logo-img{
    background: url(../images/restaurant-logo_large.png) no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 10px 15px 0; 
}
.navbar-brand{
    padding-top: 25px;
}
.navbar-brand h1 /*restaurant name*/{
    font-family: 'Lora', serif;
    font-size: 1.5em;
    line-height: 0.75;
    color: #21881d;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    text-shadow: 3px 1px 5px #ddd;
}
.navbar-brand a:hover, .navbar-brand:focus{
    text-decoration: none;
}
.navbar-brand p /*kosher certificate*/{
    margin-top: 15px;
    color: #000;
    text-transform: uppercase;
    font-size: 0.7em;
}
.navbar-brand p span{
    vertical-align: middle;
}